* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.boton {
	position: relative;
	width: 200px;
	height: 80px;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 100px;
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
	color: white;
	background-color: blueviolet;
	box-shadow: 0px 0px 20px;
}
.boton2 {
	position: absolute;
	background-color: rgb(211, 55, 225, 0.5);
	width: 0px;
	height: 80px;
	margin-left: 100px;
	border-radius: 10px;
	top: 100px;
	transition: width 1000ms ease-in-out;
	z-index: 1;
}

.boton2:hover {
	width: 200px;
}
p {
	position: absolute;
	z-index: 2;
}

.boton:hover + .boton2 {
	width: 200px;
}


