/* estilos por tag*/
/* h1{
    color:red;
}


h1 {
  color: brown;
}

p {
  color: blue;
}

span {
  color: violet;
}
div p {
  color: red;
}

/* selector por clases */

.nombre {
  color: green;
  border: 5px solid red;
}

.secundario {
  color: red;
}

/* Selector por ID */

#primary {
  color: violet;
}

#primary {
  color: red;
}

/* Selector Universal */

* {
  color: red;
}

/* Selector por atributo */

input[type="text"] {
  border: solid orange 3px;
}

input[type="number"] {
  border: solid green 3px;
}

/* Selector descendente */

div,
p {
  color: black;
}

/* Selector hermano adyacente */
h1 + p {
  color: chartreuse;
}
