* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
    background-color: #f2f2f2;
}

header {
    height: 60px;
    /* background-image: linear-gradient(45deg, #f45435 50%, #43ff33 90%); */
    background-image: linear-gradient(to right, #f45435 50%, #43ff33 90%);
    background-image: -webkit-linear-gradient(to left, #f45435, #43ff33);
    background-image: -moz-linear-gradient(to left, #f45435, #43ff33);
    background-image: -o-linear-gradient(to left, #f45435, #43ff33);

}

.cuadro{
    width: 250px;
    height: 250px;
    filter: grayscale(0);

    transition: width 1s ease-in 0s, filter 1s ease 1s;
}

.cuadro:hover{
    /* filter: blur(5px); */
    width: 300px;
    filter: grayscale(1);
}

.cuadro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    margin-top: 2rem;
    margin-left: 2rem;
}

input:hover {
    /* transform: scale(1.8); */
    /* transform: scaleX(1.2);
    transform: scaleY(2.5); */
    /* transform: rotate(5deg); */
    transform: translate(100px, 0px) scale(1.8);
}