* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

.padre {
  display: flex;
  background-color: #faedcb;
  height: 500px;
  width: 700px;
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: end;

  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  padding: 10px;
}

.padre > div {
  background-color: #ffb3b3;
  /* margin: 5px; */
  height: 50px;
}

.hijo-1 {
  width: 100%;
  margin-bottom: 50px;
}

.hijo-2 {
  width: 80px;
}

.hijo-3 {
  width: 80px;
}

.hijo-4 {
  width: 80px;
}

.hijo-5 {
  width: 80px;
}

.hijo-6 {
  width: 80px;
}

.hijo-7 {
  width: 80px;
}

.hijo-8 {
  width: 80px;
}

.hijo-9 {
  width: 80px;
}
