* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	font-family: sans-serif;
}

header {
	padding: 1rem;
	background-color: #eee;
	/* margin-bottom: 1rem; */
}
main {
	background-color: bisque;
	/* margin-top: 1rem; */
}
h1 {
	text-align: center;
}
h2 {
	/* padding: 1.5rem; */
	margin-bottom: 1rem;
}
section {
	padding: 1.5rem;
	width: 80%;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
