* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	background-color: #f0f0f0;
}
.card {
	width: 300px;
	border-radius: 8px;
}
.card:hover img {
	filter: brightness(0.8);
}
.card .card__image img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
}
.card__image {
	position: relative;
}

.card .card__caption {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.icono {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	background-color: aqua;
}
.icono img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
