* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

header {
	height: 60px;
	background-color: #f0f0f0;
}

section {
	min-height: 30rem;
	border: 1px solid red;
	background-image: url(abstracto1.png);
	background-position: calc(100% - 20px);
	background-repeat: no-repeat;
	background-size: contain;
}
h2 {
	text-align: center;
	font-size: 4rem;
	font-family: sans-serif;
}
