* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

h1:hover {
  color: red;
  /* border: 1px solid red; */
  /* font-size: 2.1rem; */
  outline: 1px solid red;
}

ul li:hover{
    color:brown;
    background-color: beige;
    cursor: pointer;
}